<ng-container *ngIf="matches$ | async as matches">

    <ag-grid-angular class="ag-theme-alpine" style="height: calc(100vh - 80px); width: 100%" [rowData]="rowData"
        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="20"
        [defaultColDef]="defaultColDef"></ag-grid-angular>
    <div *ngFor="let matchObj of matches.results">{{matchObj.type}}
        <div *ngFor="let seriesObj of matchObj.series">{{
            seriesObj.series_name}}</div>


    </div>

</ng-container>